* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


._card {
  position: relative;
  min-height: 467px;
  background-color: #3b3a39;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;

  .description {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }

  .hovered {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.450);
  }

  .language_flag {
    object-fit: cover;
    aspect-ratio: 1.5/1;
    max-width: 50px;
  }

  #vote {
    i {
      color: gold;
    }
  }
}