* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
}

.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._card {
  min-height: 467px;
  padding: 1rem;
  color: white;
  background-color: #3b3a39;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;

  .language_flag {
    object-fit: cover;
    aspect-ratio: 1.5/1;
    max-width: 50px;
  }

  #vote {
    color: gold;
  }
}