#main {
  background-color: #424242;
  color: white;
  height: calc(100vh - 86px);
  overflow-y: auto;
  overflow-x: hidden;

  section {
    margin: 3rem auto;
    width: 95%;

    .filter_by_genres {
      .genres {
        .genre {
          height: 30px;
          padding: 10px;
          border: 1px solid rgb(129, 129, 129);
          border-radius: 20px;
          background-color: rgb(15, 15, 15);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.8rem;
          line-height: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  section:first-child {
    .col {
      margin-top: 0.3rem;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }

  section:last-child {
    margin-bottom: 8rem;

    .col {
      margin-top: 2rem;
    }

    h2 {
      margin-bottom: 0.5rem;
    }
  }
}