.movie_card {
  min-height: 300px;
  max-height: 300px;
  padding: 1rem;
  background-color: #efefef;
  border: 1px solid black;

  img {
    object-fit: cover;
    aspect-ratio: 1.5/1;
    max-width: 50px;
  }
}